// Scheme

// Colors in Variables:

$white: #fff;
$purple: #6922FF;
$orange: #FFB36D;
$black: #000;
  // Extra
  $red: #FD1015;
  $blue: #167FFB;
  $yellow: #FFC65A;
  $green: #1EDD88;
  $gray: #0E0000;
  $light-gray: #F4F4F4;
