// FORM BUTTON
.form-button {
  background-color: $orange;
  color: $white;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  &:focus {
    color: $white;
  }
}

// BACK BUTTON <
  .button-image-back {
    background-color: transparent;
    border: none;
    position: relative;
    right: 30px;
    i{
      color: $purple;
    font-size: 20px;
    }
    &:focus {
      outline: none;
    }
    &-alt{
      z-index: 3;
      position: absolute;
      top: 20px;
      left: 20px;
      right: auto;
    }
  }

// MARKER BUTTON
.button-marker-map {
  background-color: $purple;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 40%;
  top: 83%;
  z-index: 100;
    &:focus{
    box-shadow: none;
    }
    &:active{
        transform: scale(0.95);
    }
  .fa-map-marker {
    color: $white;
    font-size: 40px;
  }
}

// USER FOLLOW/EDIT BUTTON
.follow-button {
  background-color: $purple;
  border-radius: 16px;
  padding: 5px 30px;
  color: $white;
  z-index: 10;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  &:active, &:hover{
  color: $white;
  text-decoration: none;
  }
}


