.comment-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  padding: 15px 10px 10px 10px;
  h3 {
    color: $purple;
  }
}

.user-comment {
  margin-top: 10px;
  display: inline-block;
  justify-content: space-between;
  flex-grow: 1;
  input {
    border-radius: 16px;
    outline: none;
    box-shadow:none !important;
    border:1px solid $purple;
  }
}

#new_comment{
  width: 100%;
  display: flex;
  align-items: center;
  #comment_content{
  flex-grow: 1;
}
.submit-button{
  flex-basis: 20%;
}
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

.comments {
  margin-top: 30px;
  margin-bottom: 55px;
}

.comentario {
  border-bottom: 1px solid rgba(105, 34, 255, 0.1) !important;
  padding-bottom: 8px;
}

.user-bold {
  font-weight: bold;
}

.submit-button {
  color: $orange;
  background: none;
  border: none !important;
  &:active {
    opacity: 0.6;
  }
}

.background-user {
  background-color: $white;
  padding: 5px 10px;
  display: flex;
  height: 50px;
}

.back-image {
  color: $purple;
  font-size: 20px;
}

.time-back {
  color: $orange;
}

.time-ago {
  font-size: 10px;
  color: #D0D0D0;
}
