.name-profile-photo {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  h2 {
    padding-left: 20px;
    color: $purple;
    font-size: 22px;
  }
}

.edit-profile {
  margin-top: 60px;
}

.margin-to-button {
  margin: 15px 0;
}

.cancel-account {
text-align: center;
justify: center;
  p{
    font-size: 12px;
    margin: 0 ;
  }
  span {
    font-size: 12px;
  }
  a{
    font-size: 12px;
  }
}
