.header-follow {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  h3{
    font-size: 18px;
    color: $purple;
  }
}

.follow-entire-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid alphacolor($purple, .2);
  padding-bottom: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.photo-follow {
  display: flex;
  align-items: center;
  a{
    padding-left: 10px;
  }
}


