.form-title {
  color: $purple;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-button {
  background-color: $orange;
  color: $white;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  margin-top: 30px;
}

.form-button:focus {
  color: $white;
}

.form-control {
  border: transparent;
  box-shadow: none;
  border-bottom: 1px solid $purple !important;
  padding: 0px;
}

.container-form {
  padding: 0px 25px;
}

.form-control:focus {
  outline: none;
  box-shadow:none !important;
 border-bottom: 1px solid $purple !important;
}

label {
  margin-bottom: 0px !important;
}

.form-control-file {
  display: none;
}

.file {
   text-align: center;
}

.upload {
  display: flex;
  justify-content: center;
}

.fa-camera {
  margin-right: 10px;
padding-top: 3px;
}

.log-in {
  color: $purple;
  margin-top: 15px !important;
}

.log-in:active {
  text-decoration: none;
  color: $purple;
  opacity: 0.8;
}
