.form-title {
  color: $purple;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-button {
  background-color: $orange;
  color: $white;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;

  &:focus {
    color: $white;
  }
}

.form-control {
  border: transparent;
  box-shadow: none;
  border-bottom: 1px solid $purple !important;
  padding: 0px;

  &:focus {
    outline: none;
    box-shadow:none !important;
   border-bottom: 1px solid $purple !important;
  }
}

.container-form {
  padding: 0px 25px;
}

label {
  margin-bottom: 0px !important;
}

.form-control-file {
  display: none;
}

.file {
   text-align: center;
}

.upload {
  display: flex;
  justify-content: center;
}


.log-in {
  color: $purple;
  margin-top: 15px !important;

  &:active{
    text-decoration: none;
    color: $purple;
    opacity: 0.8;
  }
  &:hover {
    text-decoration: none;
    color: $purple;
    opacity: 0.8;
  }
}

.btn:hover {
  color: $white;
  text-decoration: none;
}

.fa-camera {
  margin-right: 10px;
  padding-top: 3px;
}

