.container-login {
  height: 100vh;
  background-color: $purple;
  .form-inputs-login{
    margin-top: 100px;
    input {
      padding-left: 20px;
    }
  }
  .form-login {
    a{
      margin-top: 10px;
      color: $white;
    }

  }
}

.image-logo {
  width: 80%;
  margin: 70px auto 0px;
  display: block;
}

label.form-check-label {
  color: white;
}

