@function alphacolor($color, $opacity) {
  $opacity: 1 - $opacity;
  $alphacolor: transparentize($color, $opacity);
  @return $alphacolor;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
  border-bottom: 1px solid $purple;
  h1 {
    margin: 0;
    padding: 0px 5px;
    color: $purple;
    font-size: 18px;
  }
  .followers-following {
    display: flex;
    text-align: center;
.following {
  margin-right: 10px;
  }
    a {
      color: $purple;
      font-size: 14px;
      text-decoration: none;
    }
    span {
      font-size: 14px;
      color: grey;
    }
  }
}

.follow-heading {
  margin-bottom: 0;
}

.user-show-event-title {
    display: inline;
    color: gray;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    small {
      display: block;
      font-size: .7em;
    }
}

.user-show-event-end-time {
  display: inline;
  padding-right: 10px;
    display: inline;
    color: gray;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;

}

.text-danger{
  font-size: 12px;
  text-decoration: none;
}

.text-success {
  font-size: 12px;
  &:active{
    text-decoration: none;
  }
}
.text-secondary {
  font-size: 12px;
}

.photo-username {
  display: flex;
  align-items: center;
}

.event-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid alphacolor($purple, .2);
  padding: 15px 0;
  align-items: center;
  span {
    font-size: 12px;
  }
}

.scroll-{
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
}

.event-info a{
    text-decoration: none;

}
.fa-trash-alt {
  font-size: 14px;
}
